/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00c9ff;
  --ifm-color-primary-dark: #00b4e6;
  --ifm-color-primary-darker: #00a8d6;
  --ifm-color-primary-darkest: #008cb2;
  --ifm-color-primary-light: #1ad1ff;
  --ifm-color-primary-lighter: #2ad6ff;
  --ifm-color-primary-lightest: #4ddfff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 201, 255, 0.15);
  --ifm-navbar-link-hover-color: #92fe9d;
  --ifm-hero-text-color: white;
  --ifm-hero-background-color: #0f2027;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00c9ff;
  --ifm-color-primary-dark: #00b4e6;
  --ifm-color-primary-darker: #00a8d6;
  --ifm-color-primary-darkest: #008cb2;
  --ifm-color-primary-light: #1ad1ff;
  --ifm-color-primary-lighter: #2ad6ff;
  --ifm-color-primary-lightest: #4ddfff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 201, 255, 0.2);
  --ifm-navbar-link-hover-color: #92fe9d;
}
